<footer class="glass footer">
    <div>
        <div>
            <i class="fa-brands fa-github footer-socials-icon"></i>
            <a href="{{ site.data.info.github_url }}" target="_blank">
                View my GitHub profile
            </a>
        </div>

        <div>
            <i class="fa-solid fa-envelope footer-socials-icon"></i>
            <a href="{{ site.data.info.email_url }}" target="_blank">
                Send me an E-mail
            </a>
        </div>

        <div>
            <i class="fa-brands fa-discord footer-socials-icon"></i>
            <a href="{{ site.data.info.discord_url }}" target="_blank">
                Message me on Discord
            </a>
        </div>

        <hr />

        <div>
            <p>
                This website was created as a hobby project of mine and is available free of charge and free of any purchases. If you want to say thank you, then you are
                very welcome to donate something. Please be 100% sure about it, donations are not refundable.
            </p>
            <i class="fa-brands fa-paypal footer-socials-icon"></i>
            <a href="{{ site.data.info.paypalme_url }}" target="_blank">Say thank you!</a>
        </div>
</div>
</footer>