body {
    color: var(--default-text-color);
    font-family: var(--default-font-family);
    margin: 2% 4%;
    background-image: 
        radial-gradient(var(--body-background-pattern) 3px, transparent 3px), 
        radial-gradient(var(--body-background-pattern) 3px, transparent 3px);
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
    background-color: var(--body-background-main);
}

.content {
    margin: 2% 2%;
}