// Font faces from local file system
@font-face {
    font-family: 'Montserrat Light';
    src: url('/assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

// Global variables
:root {
    --default-text-color: #AD8E70;
    --default-font-family: 'Montserrat', Helvetica, sans-serif;
    --default-highlight-color: #3B3486;
    --body-background-main: #101010;
    --body-background-pattern: #0b0814;
}

// Global element definitions
html {
    height: 100%;
}

a {
    color: var(--body-text-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--default-highlight-color);
}

// Global classes
.glass {
    background: linear-gradient(135deg, rgba(8, 8, 8, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}