@font-face {
    font-family: 'Montserrat Light';
    src: url('/assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

:root {
    --body-background-gradient1-color: #FFAE63;
    --body-background-gradient2-color: #B17564;
    --body-text-color: #524439;
    --highlight-color: #C35355;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

a {
    color: var(--body-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}