<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
    {% include header.html %}

    <div class="glass error-container">
        <i class="fa-solid fa-circle-exclamation error-title"></i>
        <h1 class="error-title">Page not found</h1>
        <p>The requested page could not be found :(</p>
    </div>

    {% include footer.html %}
</body>
</html>